* {
  font-family: "Roboto", sans-serif;
}

/* NAVBAR-------------------------------------------------- */
.nav-bg {
  background-image: linear-gradient(
    to right,
    rgb(255, 60, 0),
    rgb(255, 145, 0)
  );
  padding-left: 10px;
}
/* END NAVBAR-------------------------------------------------- */

/* MARKETPLACE PAGE CONTAINER---------------------------------------------------- */
.marketPlace-container {
  display: flex;
  flex-direction: row;
  /* height:300px; */
  /* background-color: blue; */
}
/* END MARKETPLACE PAGE CONTAINER---------------------------------------------------- */

/* CART ITEMS SECTION---------------------------------------------------- */
.marketpost-aside-container {
  background-image: linear-gradient(
    to bottom right,
    rgb(185, 185, 185),
    rgb(230, 230, 230)
  );
  box-shadow: 10px 0 10px rgb(156, 156, 156);
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px;
}

.items-overflow {
  flex-direction: column;
  align-items: center;
  display: flex;
  height: 530px;
  width: max-content;
  overflow: auto;
  margin-top: 15px;
}

.subTotal-container {
  background: transparent;
  color: rgb(204, 48, 0);
  border-radius: 5px;
  margin: 5px;
  height: 70px;
  width: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}

.cartItem-container {
  background-image: linear-gradient(
    to bottom right,
    rgb(168, 168, 168),
    rgb(110, 110, 110)
  );
  box-shadow: 3px 7px 12px rgb(156, 156, 156);
  border-radius: 15px;
  height: fit-content;
  width: 180px;
  margin: 10px;
}

.cartItem-container img {
  border-radius: 15px 15px 0 0;
  width: 180px;
  height: 180px;
  object-fit: cover;
}

.cartItem-description {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/* END CART ITEMS SECTION---------------------------------------------------- */

/* MARKETPLACE POSTS SECTION----------------------------------------------------- */

.marketpost-main-container {
  padding: 20px;
  width: 80vw;
  height: fit-content;
  /* background-color: aqua; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.market-post-container {
  height: 350px;
  /* background-color: blueviolet; */
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 20px 0 20px;
}

.market-post-container img {
  border-radius: 15px 15px 0 0;
  height: 70%;
  width: 250px;
  object-fit: cover;
}

.market-post-info {
  background-image: linear-gradient(
    to bottom right,
    rgb(168, 168, 168),
    rgb(110, 110, 110)
  );
  border-radius: 0 0 15px 15px;
  display: flex;
  justify-content: space-between;
  padding: 100px;
  width: 100%;
  height: 30%;
  padding: 10px;
}

/* END MARKETPLACE POSTS SECTION----------------------------------------------------- */

@media screen and (max-width: 800px) {
  .market-post-container {
    width: fit-content;
  }
  .marketpost-main-container {
    width: 65vw;
  }
  .market-post-container img {
    width: 200px;
    object-fit: cover;
  }
  .marketpost-aside-container {
    width: 35vw;
    box-shadow: 4px 0 10px rgb(156, 156, 156);
  }
  .marketpost-aside-container button {
    width: 100px;
  }
  .cartItem-container {
    width: 120px;
  }
  .cartItem-container img {
    height: 120px;
    width: 120px;
    object-fit: cover;
  }
  .cartItem-description {
    font-size: 90%;
  }
  .subTotal-container {
    width: 120px;
    font-size: 100%;
  }
}
