/* NAVBAR-------------------------------------------------- */
.nav-bg{
  background-color: rgb(0, 172, 172);
}
/* END NAVBAR-------------------------------------------------- */




/* MARKETPLACE PAGE CONTAINER---------------------------------------------------- */
.marketPlace-container{
  background: green;
  display: flex;
  flex-direction: row;
}
/* END MARKETPLACE PAGE CONTAINER---------------------------------------------------- */




/* CART ITEMS SECTION---------------------------------------------------- */
.marketpost-aside-container{
  background: rgb(165, 107, 107);
  width: 20vw;
  display: flex;
  flex-direction:column;
  align-items: center;
  padding: 10px;
}

.items-overflow{
  /* background-color: orange; */
  flex-direction:column;
  align-items: center;
  display: flex;
  height: 100vmax;
  width: max-content;
  overflow: auto;
}

.subTotal-container{
  background: green;
  height: 50px;
  width: 175px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.cartItem-container{
  background-color: rgb(183, 0, 255);
  height: fit-content;
  width: 180px;
  margin: 10px;
}

.cartItem-container img{
  width: 180px;
  height: 180px;
  object-fit: cover;

}

.cartItem-description{
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
/* END CART ITEMS SECTION---------------------------------------------------- */




/* MARKETPLACE POSTS SECTION----------------------------------------------------- */

.marketpost-main-container{
  background: gray;
  padding: 20px;
  width: 80vw;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}

.market-post-container {
  background-color: yellow;
  height: 340px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 20px 0 20px;
}

.market-post-container img {
  border-radius: 15px;
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.market-post-info {
  background-color: rgb(145, 145, 255);
  display: flex;
  justify-content: space-between;
  padding: 100px;
  width: 100%;
  padding: 10px;
}

/* END MARKETPLACE POSTS SECTION----------------------------------------------------- */ 

@media screen and (max-width: 800px) {
  .market-post-container {
    width: fit-content;
    background-color: orange;
  }
  .marketpost-main-container{
    background:pink;
    width: 65vw;
  }
  .market-post-container img {
    width: 200px;
    object-fit: cover;
  }
  .marketpost-aside-container{
    width: 35vw;
  }
  .cartItem-container{
    width: 120px;
  }
  .cartItem-container img{
    height: 120px;
    width: 120px;
    object-fit: cover;
  }
  .cartItem-description{
    font-size: 90%;
  }
  .subTotal-container{
    width: 120px;
    font-size: 100%;
  }
}

