* {
  box-sizing: border-box;
}

body {
  display: flex;
  /* justify-content: center; */
  /* background-color: aqua; */
  flex-direction: column;
  margin: 0;
  background-image: linear-gradient(170deg, #ffffffea 0%, #c8c8c8 90%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.page-title {
  display: flex;
  justify-content: center;
}

.form-container {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.input-field {
  display: flex;
  border-radius: 5px;
  position: absolute;
  margin: initial;
}

#input {
  background-color: #66666680;
  color: rgb(0, 0, 0);
  min-width: 50ch;
  padding: 7px 7px 7px 45px;
  font-size: 1.3em;
  border: none;
  border-radius: 5px;
}

.submit-button {
  border-radius: 5px;
  position: relative;
  margin: inherit;
  background-color: teal;
}

.page-title {
  display: flex;
  justify-content: center;
}

.fade {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card-container {
  margin: 20px;
  display: flex;
  min-width: 50ch;
  padding: clamp(1.5rem, 20vh, 10rem) 0 0;
  color: white;
  box-shadow: 0 1em 2em rgb(0 0 0 / 0.2);
  border-radius: 0.5rem;
  background-image: linear-gradient(
    to right,
    rgb(255, 60, 0),
    rgb(255, 145, 0)
  );
}

.card-image {
  max-width: 30ch;
}

.card-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card-description {
  color: rgb(255, 255, 255);
  align-items: baseline;
  justify-content: center;
  text-align: center;
}
